.seller_buyer_container {
  display: flex;
  justify-content: space-evenly;
}

.buyer_details,
.seller_details {
  border: 1px solid black;
  width: 100%;
  div {
    display: flex;
    align-items: center;
    div {
      padding-left: 1%;
    }
  }
}
